# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.poclogger.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Desenvolvimento\IntegrationHub\poclogger\.idea\.idea.poclogger.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
